<div dojoType="dijit.layout.ContentPane" region="top" style="padding: 0;">
    <img src="static/assets/headerlogo.png" alt="Apollo" title="Apollo" />

    <div style="float: right; padding: 5px; padding-right: 10px;">
        <strong id="infoUserName">Username</strong> |
        <strong>Level:</strong>
        <span id="infoUserLevel">?</span>

        <strong>HP:</strong>
        <div dojoType="dijit.ProgressBar" style="width: 100px; display: inline-block;" id="infoUserHP"></div>
        <strong>AP:</strong>
        <div dojoType="dijit.ProgressBar" style="width: 100px; display: inline-block;" id="infoUserAP"></div>
        <strong>XP:</strong>
        <div dojoType="dijit.ProgressBar" style="width: 100px; display: inline-block;" id="infoUserXP" places="2"></div>
    </div>
</div>