<div dojoType="dijit.Dialog" title="Error" id="errorDialog">
    <p>
        Sorry, but it seems we've run into an error! We've managed to salvage
        the following information about it:
    </p>

    <p id="errorMessage">
        Unknown error.
    </p>

    <p>
        The following problems may have caused it:
        <ul>
            <li>
                You tried to do something really weird.
            </li>

            <li>
                The server has gone offline (that's our fault!).
            </li>

            <li>
                The server has run into a problem (also our fault!).
            </li>
        </ul>
    </p>
    {% include "../snippets/hideDijitDialogCloseButton.html" %}
</div>
