<div dojoType="dijit.Dialog" title="Login" id="loginDialog">
    <div dojoType="dijit.form.Form" id="login_form" method="post">
        <table>
            <tr>
                <td id="loginError" colspan="2" style="display: none; color: red">
                    Unable to perform login.
                </td>
            </tr>
            <tr>
                <td><label for="login_username">Username</label></td>
                <td><input type="text" id="login_username" name="username" required="true" dojoType="dijit.form.TextBox" /></td>
            </tr>
            <tr>
                <td><label for="login_password">Password</label></td>
                <td><input type="password" id="login_password" name="password" required="true" dojoType="dijit.form.TextBox" /></td>
            </tr>
        </table>

        <div style="text-align: right">
            <button dojoType="dijit.form.Button" type="submit">Login</button>
        </div>

        <script type="dojo/method" event="onSubmit">
            dojo.byId("loginError").style.display = "none";
            core.actions.login(dojo.byId("login_username").value, dojo.byId("login_password").value);
            return false;
        </script>
    </div>
    {% include "../snippets/hideDijitDialogCloseButton.html" %}
</div>
